$smallPadding: 8px;
$largePadding: 30px;

.br-card.small {
    .card-header, .card-content, .card-footer {
        padding: $smallPadding;
    }
}

.br-card.large {
    .card-header, .card-content, .card-footer {
        padding: $largePadding;
    }
}